{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@elamp.fr",
      "name": "API support"
    },
    "description": "",
    "license": {
      "name": "eLamp",
      "url": "https://www.elamp.fr/"
    },
    "termsOfService": "https://www.elamp.fr/",
    "title": "eLamp Web API",
    "version": "1.0.0",
    "x-logo": {
      "altText": "eLamp Web API",
      "url": "https://d13ohmdfxbevj9.cloudfront.net/assets/img/eLampAPI.png"
    }
  },
  "host": "api.elamp.fr",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **group** objects",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/group"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Groups"
        ],
        "description": "returns a list of **group** objects.",
        "operationId": "iam.groups.list",
        "summary": "lists groups"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "create group schema",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "code": {
                  "example": "GRP1",
                  "type": "string"
                },
                "description": {
                  "example": "group's description",
                  "type": "string"
                },
                "externalId": {
                  "description": "external identifier (usually identifier from an external system)",
                  "example": "23909",
                  "type": "string"
                },
                "name": {
                  "example": "group's name",
                  "type": "string"
                },
                "parent": {
                  "description": "parent group's identifier (default to root if parent is not provided)",
                  "example": "G1234",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a single **group** object",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Groups"
        ],
        "description": "returns a **group** object.",
        "operationId": "iam.groups.create",
        "summary": "creates a group"
      }
    },
    "/groups/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a single **group** object",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Groups"
        ],
        "description": "returns a **group** object.",
        "operationId": "iam.groups.delete",
        "summary": "deletes a group by id"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a single **group** object",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Groups"
        ],
        "description": "returns a single **group** object.",
        "operationId": "iam.groups.get",
        "summary": "gets group by id"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "update group schema",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "code": {
                  "example": "GRP1",
                  "type": "string"
                },
                "description": {
                  "example": "group's description",
                  "type": "string"
                },
                "externalId": {
                  "description": "external identifier (usually identifier from an external system)",
                  "example": "23909",
                  "type": "string"
                },
                "name": {
                  "example": "group's name",
                  "type": "string"
                },
                "parent": {
                  "description": "parent group's identifier (default to root if parent is not provided)",
                  "example": "G1234",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a single **group** object",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Groups"
        ],
        "description": "returns an **group** object.",
        "operationId": "iam.groups.update",
        "summary": "updates a group by id"
      }
    },
    "/libraries": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of skills libraries",
            "schema": {
              "properties": {
                "count": {
                  "example": 23,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/library"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns a list of available **skills libraries**",
        "operationId": "skills.libraries.list",
        "summary": "lists libraries"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "library data to create a library",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "family_tag": {
                  "description": "library's family tag. used to group libraries in wider domains",
                  "example": "my domain",
                  "type": "string"
                },
                "image": {
                  "$ref": "#/definitions/image"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the created skills library",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "creates a new **skills library**",
        "operationId": "skills.libraries.create",
        "summary": "creates libraries"
      }
    },
    "/libraries/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted **library** object.",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns the deleted **library**.\n",
        "operationId": "skills.libraries.delete",
        "summary": "deletes a library by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **library** object.",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns a **skills library** by key.",
        "operationId": "skills.libraries.get",
        "summary": "gets a library by key"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "library data to update a library",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "family_tag": {
                  "description": "library's family tag. used to group libraries in wider domains",
                  "example": "my domain",
                  "type": "string"
                },
                "image": {
                  "$ref": "#/definitions/image"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **library** object.",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns the updated **library**.\n",
        "operationId": "skills.libraries.update",
        "summary": "updates a library by key"
      }
    },
    "/libraries/{id}/subscribe": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **library** object.",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns the subscribed **skills library**.",
        "operationId": "skills.libraries.subscribe",
        "summary": "subscribe to a library by key"
      }
    },
    "/libraries/{id}/unsubscribe": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **library** object.",
            "schema": {
              "$ref": "#/definitions/library"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Libraries"
        ],
        "description": "returns the unsubscribed **skills library**.",
        "operationId": "skills.libraries.unsubscribe",
        "summary": "unsubscribe to a library by key"
      }
    },
    "/pins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "user identifier. if not provided, returns pins of the current user",
            "in": "query",
            "name": "user",
            "required": false,
            "type": "string"
          },
          {
            "description": "entity identifier (optional)",
            "in": "query",
            "name": "entity",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **pin** objects for the user",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/pin"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pins"
        ],
        "description": "returns a list of **pin** objects for an user",
        "operationId": "pins.list",
        "summary": "list pins of an user"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data schema to create a pin object",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "description": "pin object's data",
                  "type": "object"
                },
                "entity": {
                  "description": "entity to pin to the user. Can be a skills profile (job or training)",
                  "type": "string"
                },
                "type": {
                  "description": "pin object's type. Can be either profile.pin_job or profile.pin_training",
                  "type": "string"
                },
                "user": {
                  "description": "user identifier",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "return the created **pin** object for the user",
            "schema": {
              "$ref": "#/definitions/pin"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pins"
        ],
        "description": "creates a **pin** object for an user",
        "operationId": "pins.create",
        "summary": "create a pin for an user"
      }
    },
    "/pins/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **pin** object.",
            "schema": {
              "$ref": "#/definitions/pin"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pins"
        ],
        "description": "returns the deleted **pin**.",
        "operationId": "pins.delete",
        "summary": "deletes a pin by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **pin** object.",
            "schema": {
              "$ref": "#/definitions/pin"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pins"
        ],
        "description": "returns a **pin** object by key.",
        "operationId": "pins.get",
        "summary": "gets a pin by key"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data schema to update a pin object",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "description": "pin object's data",
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **pin** object.",
            "schema": {
              "$ref": "#/definitions/pin"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pins"
        ],
        "description": "returns the updated **pin**.",
        "operationId": "pins.update",
        "summary": "updates a pin by key"
      }
    },
    "/powers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "show temporal diff data",
            "in": "query",
            "name": "last",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "startDate to filter results on",
            "format": "date",
            "in": "query",
            "name": "startDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "endDate to filter results on",
            "format": "date",
            "in": "query",
            "name": "endDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "user identifier. if not provided, returns powers of the current user",
            "in": "query",
            "name": "user",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **power** objects for the user",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/power"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns a list of **power** objects for an user",
        "operationId": "powers.list",
        "summary": "list powers of an user"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data to create a power",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "active": {
                  "default": true,
                  "description": "indicates if a power is active or not",
                  "type": "boolean"
                },
                "description": {
                  "description": "power's details",
                  "type": "string"
                },
                "qualifiers": {
                  "description": "array of qualifier to include in the power",
                  "items": {
                    "$ref": "#/definitions/qualifier_input_data"
                  },
                  "type": "array"
                },
                "resource": {
                  "description": "user identifier",
                  "type": "string"
                },
                "skill": {
                  "description": "skill identifier",
                  "type": "string"
                }
              },
              "required": [
                "resource",
                "skill"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "return the created **power** object for the user",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "creates a **power** object for an user",
        "operationId": "powers.create",
        "summary": "create power for an user"
      }
    },
    "/powers/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **power** object.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns the deleted **power**.",
        "operationId": "powers.delete",
        "summary": "deletes a power by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **power** object.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns a **power** object by key.",
        "operationId": "powers.get",
        "summary": "gets a power  by key"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data to update a power",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "active": {
                  "default": true,
                  "description": "indicates if a power is active or not",
                  "type": "boolean"
                },
                "description": {
                  "description": "power's details",
                  "type": "string"
                },
                "qualifiers": {
                  "description": "array of qualifier to include in the power",
                  "items": {
                    "$ref": "#/definitions/qualifier_input_data"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **power** object.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns the updated **power**.",
        "operationId": "powers.update",
        "summary": "updates a power by key"
      }
    },
    "/powers/{id}/qualifiers": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "power object identified by key.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns the **power** object identified by key.",
        "operationId": "powers.remove_qualifiers",
        "summary": "removes qualifiers for a power identified by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of **qualifier with value** objects.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns a list of **qualifier with value** object for the power identified by key.",
        "operationId": "powers.list_qualifiers",
        "summary": "lists qualifiers for a power identified by key"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data to update a qualifier value",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "qualifiers": {
                  "items": {
                    "$ref": "#/definitions/qualifier_input_data"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "power object identified by key.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Powers"
        ],
        "description": "returns the **power** object identified by key.",
        "operationId": "powers.add_qualifiers",
        "summary": "adds qualifiers for a power identified by key"
      }
    },
    "/profiles": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of **skills profiles** objects.",
            "schema": {
              "properties": {
                "count": {
                  "example": 2,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/skill_profile"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "returns a list of **profiles**.",
        "operationId": "skills.profile.list",
        "summary": "list profiles"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "data to create a skills profile object",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "custom_fields": {
                  "description": "any custom fields that defines the qualifier",
                  "type": "object"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                },
                "pattern": {
                  "$ref": "#/definitions/search_pattern"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the created skill profile",
            "schema": {
              "$ref": "#/definitions/skill_profile"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "creates a new **skills profile**",
        "operationId": "skills.profile.create",
        "summary": "creates skills profile"
      }
    },
    "/profiles/matching": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "requested user identifier. if not provided, execute matching against the current user",
            "in": "query",
            "name": "user",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of **skills profiles** objects.",
            "schema": {
              "properties": {
                "count": {
                  "example": 2,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "score": {
                            "example": 0.56,
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      {
                        "$ref": "#/definitions/skill_profile"
                      }
                    ]
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "returns a list of **profiles** that match with an user.",
        "operationId": "skills.profile.matching",
        "summary": "list profiles that match with an user"
      }
    },
    "/profiles/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **skills profile** object.",
            "schema": {
              "$ref": "#/definitions/skill_profile"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "returns the deleted **skills profile**.",
        "operationId": "skills.profile.delete",
        "summary": "deletes a skills profile by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "boolean indicating if externalId must be used instead of eLamp identifier in order to fetch resource",
            "in": "query",
            "name": "use_externalId",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "A **skills profile** object.",
            "schema": {
              "$ref": "#/definitions/skill_profile"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "returns a **skills profile** by key.",
        "operationId": "skills.profile.get",
        "summary": "gets a skills profile  by key"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data to update a skills profile object",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "custom_fields": {
                  "description": "any custom fields that defines the qualifier",
                  "type": "object"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                },
                "pattern": {
                  "$ref": "#/definitions/search_pattern"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **skills profile** object.",
            "schema": {
              "$ref": "#/definitions/skill_profile"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Jobs"
        ],
        "description": "returns the updated **skills profile**.",
        "operationId": "skills.profile.update",
        "summary": "updates a skills profile by key"
      }
    },
    "/qualifiers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of **qualifier** objects.",
            "schema": {
              "properties": {
                "count": {
                  "example": 2,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/qualifier"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns a list of **qualifiers**.",
        "operationId": "qualifiers.list",
        "summary": "list qualifiers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "create qualifier schema",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "custom_fields": {
                  "description": "any custom fields that defines the qualifier",
                  "type": "object"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "field_type": {
                  "description": "field type.",
                  "enum": [
                    "TEXT",
                    "NUMERIC",
                    "BOOLEAN",
                    "MULTIVALUES",
                    "EXPIRATION"
                  ],
                  "type": "string"
                },
                "fields": {
                  "items": {
                    "$ref": "#/definitions/qualifier_field"
                  },
                  "type": "array"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the created skill",
            "schema": {
              "$ref": "#/definitions/skill"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "creates a new **qualifier**",
        "operationId": "qualifiers.create",
        "summary": "creates qualifier"
      }
    },
    "/qualifiers/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **qualifier** object.",
            "schema": {
              "$ref": "#/definitions/qualifier"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns the deleted **qualifier**.",
        "operationId": "qualifiers.delete",
        "summary": "deletes a qualifier by key"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A **qualifier** object.",
            "schema": {
              "$ref": "#/definitions/qualifier"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns a **qualifier** by key.",
        "operationId": "qualifiers.get",
        "summary": "gets a qualifier by key"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "update qualifier schema",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "$ref": "#/definitions/color"
                },
                "custom_fields": {
                  "description": "any custom fields that defines the qualifier",
                  "type": "object"
                },
                "description": {
                  "example": "my description",
                  "type": "string"
                },
                "logo": {
                  "$ref": "#/definitions/logo"
                },
                "name": {
                  "example": "my name",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **qualifier** object.",
            "schema": {
              "$ref": "#/definitions/qualifier"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns the updated **qualifier**.",
        "operationId": "qualifiers.update",
        "summary": "updates a qualifier by key"
      }
    },
    "/qualifiers/{id}/powers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A iist of **power** objects.",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/power"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns a list of **powers** associated to the qualifier identified by key.",
        "operationId": "skills.qualifier.list_powers",
        "summary": "lists powers associated to the qualifier identified by key"
      }
    },
    "/qualifiers/{id}/skills": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A iist of **skill** objects.",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/skill"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Qualifiers"
        ],
        "description": "returns a list of **skills** associated to the qualifier identified by key.",
        "operationId": "skills.qualifier.list_skills",
        "summary": "lists skills associated to the qualifier identified by key"
      }
    },
    "/resources/{user_id}/pins/jobs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique user resource identifier",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **pinned jobs** objects",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/user_pin"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Resources"
        ],
        "description": "returns a list of **pinned jobs** object.",
        "operationId": "resources.job_pins.list",
        "summary": "lists jobs pinned by user identified by <user_id>"
      }
    },
    "/resources/{user_id}/pins/trainings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique user resource identifier",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **pinned trainings** objects",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/user_pin"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Resources"
        ],
        "description": "returns a list of **pinned trainings** object.",
        "operationId": "resources.training_pins.list",
        "summary": "lists trainings pinned by user identified by <user_id>"
      }
    },
    "/resources/{user_id}/powers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique user resource identifier",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **powers** objects",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/power"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Resources"
        ],
        "description": "returns a list of **powers** object.",
        "operationId": "resources.powers.list",
        "summary": "lists powers of user identified by <user_id>"
      }
    },
    "/resources/{user_id}/skill.validations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique user resource identifier",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **validations** objects",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/validation"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Resources"
        ],
        "description": "returns a list of **validations** object.",
        "operationId": "resources.skill_validations.list",
        "summary": "lists validations of user identified by <user_id>"
      }
    },
    "/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "search query",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "filters": {
                  "$ref": "#/definitions/filter_query_condition"
                },
                "kind": {
                  "description": "kind of resource to search on.",
                  "enum": [
                    "resource"
                  ],
                  "type": "string"
                },
                "must": {
                  "$ref": "#/definitions/must_query_condition"
                },
                "suggests": {
                  "default": false,
                  "description": "include suggestions or not",
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **resource** objects that match the search query.",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/search_result"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Search"
        ],
        "description": "execute search query",
        "operationId": "search.search",
        "summary": "execute search query"
      }
    },
    "/skill.validations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "user identifier. if not provided, returns validations of the current user",
            "in": "query",
            "name": "user",
            "required": false,
            "type": "string"
          },
          {
            "description": "skill identifier. used to get validations on a specific skill",
            "in": "query",
            "name": "skill",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of **validation** objects for the user",
            "schema": {
              "properties": {
                "count": {
                  "example": 3,
                  "minimum": 0,
                  "type": "number"
                },
                "data": {
                  "items": {
                    "$ref": "#/definitions/validation"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "description": "returns a list of **validations** objects for an user",
        "operationId": "skills.validations.list",
        "summary": "list skills validations of an user"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "data schema to create a validation",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "comment": {
                  "description": "validation's comment",
                  "example": "my comment about the current validation",
                  "type": "string"
                },
                "qualifiers": {
                  "items": {
                    "$ref": "#/definitions/qualifier_input_data"
                  },
                  "type": "array"
                },
                "skill": {
                  "description": "skill's identifier to validate",
                  "type": "string"
                },
                "user": {
                  "description": "user's identifier to validate",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "return the created **validation** object for the user",
            "schema": {
              "$ref": "#/definitions/validation"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "description": "creates a **validation** object for an user",
        "operationId": "skills.validation.create",
        "summary": "create a validation for an user"
      }
    },
    "/skill.validations/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "unique resource identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "fields to return in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated **validation** object.",
            "schema": {
              "$ref": "#/definitions/power"
            }
          },
          "400": {
            "description": "invalid schema.",
            "schema": {
              "$ref": "#/definitions/invalid_schema"
            }
          },
          "401": {
            "description": "you need to provide valid credentials to authenticate request.",
            "schema": {
              "$ref": "#/definitions/not_authed"
            }
          },
          "403": {
            "description": "you are not allowed to perform this action.",
            "schema": {
              "$ref": "#/definitions/forbidden"
            }
          },
          "404": {
            "description": "the resource was not found.",
            "schema": {
              "$ref": "#/definitions/not_found"
            }
          },
          "default": {
            "description": "an unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/unexpected_error"
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "description": "returns the deleted **validation**.",
        "operationId": "skills.validations.delete",
        "summary": "deletes a validation by key"
      },
      "get": {
        "produces": [
[...]
